{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags|escape }}{% endblock %}
<!-- Content -->
{% block content %}
    <h1>{{ article.title }}</h1>
    <span>{{ article.summary }}<span>
        <div>
            <span><strong>Date:</strong></span>
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </div>
        <div>
            <span><strong>Tags:</strong></span>
            {% if article.tags %}
                {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% endfor %}
            {% endif %}
            <div>
                {{ article.content }}
            {% endblock %}
