<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{ SITENAME }}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/gridism.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />

    {% block page_styles %}{% endblock %}
  </head>
  <body>

    <body class="wrap wider">
      <header>
        <div class="grid">
          <div class="logo unit whole center-on-mobiles">
            <a href="{{ SITEURL }}">
              <h1>-`ღ´- {{ SITENAME }}</h1>
            </a>
            <aside>{{ SITE_DESCRIPTION }}</aside>
          </div>
        </div>
      </header>

      <section>
        <div class="grid">
          <div class="logo unit whole">
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>

      <footer>
        <div class="grid">
          <div class="logo unit half">
            <p>© Bhargav R. Patel — All rights reserved.</p>
          </div>
        </div>
      </footer>

      {% if GOATCOUNTER_URL %}
        <script
          data-goatcounter={{ GOATCOUNTER_URL}}
          async src="//gc.zgo.at/count.js">
        </script>
      {% endif %}
  </body>
</html>