<!-- Page specific styles -->
{% block page_styles %}
    <style type="text/css">
  section ul {
    list-style: square;
    padding-left: 20px;
  }

  section ul li {
    margin-bottom: 0.5em;
  }

  @media screen and (max-width: 568px) {
    /* Hide bullets on mobile */
    section ul {
      list-style: none;
      padding-left: 0;
    }
  }
    </style>
{% endblock %}
<!-- Content -->
{% block posts %}
    <ul>
        {% for post in posts %}
            <li>
                <span class="published-date hide-on-mobiles">{{ post.date.strftime('%B %-Y') }} —</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
