{% extends "base.html" %}

<!-- Page specific styles -->
{% block page_styles %}
<style type="text/css">
  section ul {
    list-style: square;
    padding-left: 20px;
  }

  section ul li {
    margin-bottom: 0.5em;
  }

  @media screen and (max-width: 568px) {
    /* Hide bullets on mobile */
    section ul {
      list-style: none;
      padding-left: 0;
    }
  }
</style>
{% endblock %}

<!-- Content -->
{% block content %}
<h3>Posts</h3>
<ul>
  {% for article in articles_page.object_list %}
  <li>
    <!-- <span class="published-date hide-on-mobiles">October 2019 —</span> -->
    <span class="published-date hide-on-mobiles">
      {{ article.date.strftime('%B %-Y') }} —
    </span>
    <a href="{{ article.url }}">{{ article.title }}</a>
  </li>
  {% endfor %}
</ul>
<a href="{{ SITEURL }}/archives.html">Read More</a>
{% endblock %}
